/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

img {
    width: 100px;
    border-radius: 50%;
}

.hero-banner{
    background-image: url("https://www.brisbane.qld.gov.au/sites/default/files/styles/hero_image/public/images/2022-05/1600x900-city-skyline_0.jpg.webp?itok=IzSQ-MY_");
    max-width: 100%;
    height: 250px;
    background-size: 100% 100%;
}

.hero-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header-text{
    position: absolute;
    margin-top: -8em;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #457B9D;
    max-width: 250px;
    
}

.header-text-2{
    position: absolute;
    display: flex;
    margin-top: -3em;
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    max-width: 400px;
    background-color: #1D3557;
}

.activities-header{
    color: #1d3556;
}

.activities{
    
    background-color: #f1f9ed;
    
}
.activities-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 10em;
    
}

.activity-h3{
    width: 100%;
}

.activity-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0em 2em;
}

.guide{
    position: absolute;
    margin-top: 12em;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;

    


}

.guide-para{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
    margin-right: 1em
}

.guide-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 400px;
        background-color: #a8dadb;
    border-bottom: 5px solid #1d3556;
    
}

.portrait{
    border-radius: 0%;
    margin-left: 1em;
    margin-right: 1em;
    width: 150px;
}

.italics{
    font-style: italic;
}